.key-point {
    padding-top: 100px;
    padding-bottom: 30px;
}

.key-point__title {
    font-family: ralewaybold, Arial, sans-serif;
    font-size: 36px;
    color: #00bfa5;
}

.key-point__description {
    margin-top: 20px;
    max-width: 570px;
    font-family: ralewaymedium, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    opacity: 0.75;
}

.key-point__list {
    margin-top: 80px;
    padding: 0;
    list-style: none;
}

.key-point-item {
    margin-bottom: 70px;
    display: inline-flex;
    width: 50%;
}

.key-point-item:nth-child(odd) {
    padding-right: 40px;
}

.key-point-item__img {
    margin-right: 35px;
    flex-shrink: 0;
    width: 130px;
    height: 130px;
}

.key-point-item__title {
    font-family: ralewaybold, Arial, sans-serif;
    font-size: 24px;
}

.key-point-item__description {
    margin-top: 15px;
    font-family: ralewaymedium, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

