.header-top {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-top__link {
    padding-left: 22px;
    font-family: robotomedium, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #00bfa5;
    background-repeat: no-repeat;
    background-position: left center
}

.header-top__link:first-child {
    margin-right: 30px;
}