.live-class {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #00bfa5;
    color: #fff;
}

.live-class__left-col, .live-class__right-col {
    width: 50%;
}

.live-class__right-col {
    padding-left: 80px;
}

.live-class__left-col {
    padding-right: 80px;
}

.live-class__pre-title {
    font-family: ralewaymedium, Arial, sans-serif;
    font-size: 20px;
}

.live-class__title {
    margin-top: 15px;
    font-family: ralewaybold, Arial, sans-serif;
    font-size: 36px;
}

.live-class__body-text {
    margin-top: 55px;
    margin-bottom: 65px;
    font-family: robotoregular, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}